{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
<div class="container pt-5" id="BigBody">
    <div class="bouton">
        <h1>Modifier Catégorie</h1>
        {% if not isusedcategory(category.id) %}
        {{ include('category/_delete_form.html.twig') }}
        {% endif %}
    </div>
    

    {{ include('category/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a class="btn btn-sm btn-secondary btn-return" href="{{ path('category_index') }}">Retour à la liste</a>


</div>
{% endblock %}
