body {
    /* background: rgb(83, 22, 22); */
    background-color: lightgray;
}
/**/
.btnUser{
    background-color: rgb(83, 22, 22);
    color:rgba(253, 191, 21, 0.836);
}
.btnUser:hover{
    background-color: rgba(253, 191, 21, 0.836);
    color:rgb(83, 22, 22);
    border:1px solid rgb(83, 22, 22);
}

header{
    width:100vw;
    position:fixed;
    top:0px;
    z-index: 1;
}

#BigBody{
    width:100%;
    padding-top:100px;
    /* border:5px solid green; */
}


/* #LogoContainer{ */
    /* background-color: white; */
/* } */
#ImgLogo{
    height:72px;
    width:77px;
    margin-right:50px;
}
/* .collapse{ */
    /* justify-content:space-between; */
/* } */

/* SSI on parvient à faire du multi-langues */
#DivLang{
    justify-self:end;
    align-items:center;
    padding-right:20px;
}
.DivLang{
    width:80px;
    height:30px;
    margin:0.35em;
    border:1px solid black;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
}
.DivLang:hover{
    cursor:pointer;
}
.DivLang>p{
    font-size: 0.65x;;
    margin-top: 14px;
    color:black;
}
.DivImgFlag{
    height:25px;
    width:25px;
    margin-top: 5px;
    /**/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.DivLangFr{
    box-shadow:inset 2px 2px 6px black;
    font-size:1.1em;
    font-weight:bolder;
}
.DivLangEn{
    box-shadow:2px 2px 6px black;
}
.ImgFlagEn{
    /* FONCTIONNE A PARTIR D'ASSETS SEULEMENT */ 
    background-image: url(/assets/images/flag_en.png);
}
.ImgFlagFr{
    /* FONCTIONNE A PARTIR D'ASSETS SEULEMENT */ 
    background-image: url(/assets/images/flag_fr.png);
}
/* ************************************* */


#BigBody{
    margin-top:50px;
}

.TestImg1{
    width:25%;
    height:100px;
    border:2px solid red;
}
.TestImg2{
    width:25%;
    height:100px;
    border:2px solid yellow;
}
#TestImg1{
    width:25%;
    height:100px;
    border:2px solid green;
    /**/
    background-image: url(/assets/images/bckgrd_portfolio_birolini_herve.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center center ;
}
#TestImg2{
    width:25%;
    height:100px;
    border:2px solid blue;
    /**/
    /* background-image: url("../../images/logo.PNG"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center center ;
}



/*****************************************/
/* Section pages connection User : DEBUT */
.userup_section {
    position: relative;
    min-height: 100vh;
/* width:100vw; */
    background: rgb(83, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.userup_section .container {
    position: relative;
    width: 800px;
    height: 600px;
    background: rgb(83, 22, 22);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.userup_section .container .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.userup_section .container .user .imgBox {
    position: relative;
    width: 50%;
    height: 100%;
    background: rgba(253, 191, 21, 0.836);
    transition: 0.5s;
}
.userup_section .container .user .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userup_section .container .user .formBox {
    position: relative;
    width: 50%;
    height: 100%;
    background: rgba(253, 191, 21, 0.836);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}
.userup_section .container .user .formBox form h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: rgb(83, 22, 22);
}
.userup_section .container .user .formBox form input {
    position: relative;
    width: 100%;
    padding: 10px;
    background: whitesmoke;
    color: black;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}
.userup_section .container .user .formBox form input[type="submit"] {
    max-width: 100px;
    background: rgb(83, 22, 22);
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}
.userup_section .container .user .formBox form .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgb(83, 22, 22);
    text-transform: uppercase;
    font-weight: 300;
}
.userup_section .container .user .formBox form .signup a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(83, 22, 22);
}
.userup_section .container .signupBox {
    pointer-events: none;
}
.userup_section .container.active .signupBox {
    pointer-events: initial;
}

.userup_section .container .signupBox .formBox {
    left: 100%;
}
.userup_section .container.active .signupBox .formBox {
    left: 0;
}
.userup_section .container .signupBox .imgBox {
    left: -100%;
}
.userup_section .container.active .signupBox .imgBox {
    left: 0;
}

.userup_section .container .signInBox .formBox {
    left: 0;
}
.userup_section .container.active .signInBox .formBox {
    left: 100%;
}
.userup_section .container .signInBoxx .imgBox {
    left: 0;
}
.userup_section .container.active .signInBox .imgBox {
    left: -100%;
}
@media (max-width: 991px) {
    .userup_section .container {
        max-width: 400px;
    }
    .userup_section .container .imgBox {
        display: none;
    }
    .userup_section .container .user .formBox {
        width: 100%;
    }
}
/* Section pages connection User : FIN */
/***************************************/