@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900display=swap%27);
*{
    font-family: "Poppins", sans-serif;
}
footer{
    z-index: 99;
}
.tab-content,.card-body{
    background-color: wheat;
}
.card-footer{
    background-color: rgb(253, 191, 21, 0.836);
    box-shadow: inset 2px 2px 2px rgb(83, 22, 22);
}
.banner{
    justify-content:center;
    width:100vw;
    height:300px;
    background-image: url('../images/Banner.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
	/* background-attachment: fixed; */
    background-position: center;
    object-fit: contain;
    box-shadow:2px 2px 10px rgba(253, 191, 21, 0.836);/* inset; */
}
.imgbanner--logo{
    position:absolute;
    width:350px;
    top:90px;
    z-index:9;
}
body{
    flex-grow:1;
    padding-top:30px;
    background: rgb(83, 22, 22);
}
/**/
header{
    width:100vw;
    position:fixed;
    top:0px;
    z-index: 10;
}
label{
    color:rgba(253, 191, 21, 0.836);
}

h1,.table--TxtLight,.LifeLine{
    color:rgba(253, 191, 21, 0.836);
}
.nav--Profile,.table--TxtDark{
    color:rgb(83, 22, 22);
}
#BigBody{
    width:95%;
    margin-top:50px;
    margin-bottom:75px;
    /* border:5px solid cyan; */
    justify-content:center;
}
/**/
.DivArticlePrice{
    justify-content: space-around;
    color:rgb(83, 22, 22);
}
.InputAdd2Kart{
    padding-top:5px;
    text-align:center;
    justify-content:center;
    align-items:center;
}
.InputArticleCard{
    padding-top:-3px;
    text-align:center;
    justify-content:center;
    align-items:center;
}
.btnUser{
    background-color: rgb(83, 22, 22);
    color:rgba(253, 191, 21, 0.836);
}
.btnUser:hover{
    background-color: rgba(253, 191, 21, 0.836);
    color:rgb(83, 22, 22);
    border:1px solid rgb(83, 22, 22);
}
.btnUserReverse{
    background-color:rgba(253, 191, 21, 0.836);
    color: rgb(83, 22, 22);
    margin-left:2px;
    margin-right:2px;
}
.btnUserReverse:hover{
    background-color:rgb(83, 22, 22);
    color: rgba(253, 191, 21, 0.836);
    border:1px solid rgb(253, 191, 21, 0.836);
}
.btn-secondary{
	color: rgba(253, 191, 21, 0.836);
    margin-left:2px;
    margin-right:2px;
}
.btn-secondary:hover{
	color: rgba(253, 191, 21, 0.836);
	background-color: rgba(83, 22, 22);
    border:1px solid rgb(253, 191, 21, 0.836);
}
.btn-light:hover{
    background-color: rgba(253, 191, 21, 0.836);
    color:rgb(83, 22, 22);
    border:1px solid rgb(83, 22, 22);
}

/* L'ELEMENT "CARTE" (et ses enfants) DE LA PAGE CATALOG */
.card-group{
    /* border:2px solid red; */
    flex-wrap:wrap;
}
.card--article{
    padding:10px;
    background-color: wheat;
    color:rgb(83, 22, 22);
    border-radius: 10px;
    box-shadow:5px 5px 10px rgba(253, 191, 21, 0.836);/* inset; */
    justify-content:flex-end;
}
/* .card-deck{ */
    /* margin:0.1rem; */
    /* border:2px solid green; */
    /* align-items:center; */
/* } */
/* .card--column{ */
    /* border:2px solid yellow; */
    /* align-items:center; */
/* } */
.card--img{
    height:200px;
}
.card--Price{
    font-size: 1.2em;
    /* color: orange; */
    font-weight: bold;
}
/* .card--PriceOld{text-decoration-line: line-through ;} */
.DivLinearGradientHorizontal{
    height: 4px;
    background: linear-gradient(270deg,rgb(83, 22, 22), transparent);
}


/* #LogoContainer{ */
    /* background-color: white; */
/* } */
#ImgLogo{
    height:72px;
    width:77px;
    margin-right:50px;
}
/* .collapse{ */
    /* justify-content:space-between; */
/* } */



/*****************************************/
/* Section pages connection User : DEBUT */
.userup_section {
    position: relative;
    min-height: 100vh;
/* width:100vw; */
    background: rgb(83, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.userup_section .container {
    position: relative;
    width: 800px;
    height: 600px;
    background: rgb(83, 22, 22);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.userup_section .container .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.userup_section .container .user .imgBox {
    position: relative;
    width: 50%;
    height: 100%;
    background: rgba(253, 191, 21, 0.836);
    transition: 0.5s;
}
.userup_section .container .user .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userup_section .container .user .formBox {
    position: relative;
    width: 50%;
    height: 100%;
    background: rgba(253, 191, 21, 0.836);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}
.userup_section .container .user .formBox form h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: rgb(83, 22, 22);
}
.userup_section .container .user .formBox form input {
    position: relative;
    width: 100%;
    padding: 10px;
    background: whitesmoke;
    color: black;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}
.userup_section .container .user .formBox form input[type="submit"] {
    max-width: 100px;
    background: rgb(83, 22, 22);
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}
.userup_section .container .user .formBox form .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgb(83, 22, 22);
    text-transform: uppercase;
    font-weight: 300;
}
.userup_section .container .user .formBox form .signup a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(83, 22, 22);
}
.userup_section .container .signupBox {
    pointer-events: none;
}
.userup_section .container.active .signupBox {
    pointer-events: initial;
}

.userup_section .container .signupBox .formBox {
    left: 100%;
}
.userup_section .container.active .signupBox .formBox {
    left: 0;
}
.userup_section .container .signupBox .imgBox {
    left: -100%;
}
.userup_section .container.active .signupBox .imgBox {
    left: 0;
}

.userup_section .container .signInBox .formBox {
    left: 0;
}
.userup_section .container.active .signInBox .formBox {
    left: 100%;
}
.userup_section .container .signInBoxx .imgBox {
    left: 0;
}
.userup_section .container.active .signInBox .imgBox {
    left: -100%;
}
@media (max-width: 991px) {
    .userup_section .container {
        max-width: 400px;
    }
    .userup_section .container .imgBox {
        display: none;
    }
    .userup_section .container .user .formBox {
        width: 100%;
    }
}
/* Section pages connection User : FIN */
/***************************************/

/****************************************/
/* Section pages profil de User : DEBUT */
.profile-tab-nav{
	min-width:250px;
    background-color:  rgba(253, 191, 21, 0.836);
}
.nav-pills{
    padding:15px 20px;
    border-bottom:1px rgb(83, 22, 22);
    /* border-radius:0; */
    /* color:#333; */
    /* width:20px; */
}
.tab-content{
	flex:1;
}
/* a{ */
	/* color:rgb(83, 22, 22); */
	/* font-weight:500; */
/* } */
.h3--Profile{
    color: rgba(253, 191, 21, 0.836);
}
.form-group label,.label--Profile{
    color: rgb(83, 22, 22);
    font-weight: 500;
}
.shadow{
	box-shadow: 0 2px 10px red(0, 0, 0, 0.1) ;
}
.nav--active{
    font-size:1.1em;
    font-weight:bold;
}
/* Section pages profil de User : FIN */
/**************************************/


/***************************/
/* Section PANNIER : DEBUT */
.imgbtn--cart{
    background-color: rgb(226, 219, 219);
    width:12px;
    height:12px;
    box-shadow: 0 40px 50px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.divnowrap--cart{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
/* Section PANNIER : FIN */
/*************************/



/***************************************/
/*HOMEPAGE  01/05/21 */
/*carousel*/
.titre {
    font-size: 4rem;
    margin: 5.5rem !important;
}
h2 {
    text-align: center;
    font-size: 1.5em;
    font-family: "cursive";
    font-style: italic;
    font-weight: bold;
    color: rgba(253, 191, 21, 0.836);
    text-shadow: rgb(167, 164, 164) 0.1em 0.1em 0.2em
}
.carousel-inner {
    max-width: 50%;
    height: auto;
    width: auto;
    margin: auto;
}
/*fin carousel*/
/*debut card */
.section-texte {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2.5em;
    font-family: "cursive";
    font-style: italic;
    color: rgba(253, 191, 21, 0.836);
    text-shadow: rgb(148, 145, 145) 0.1em 0.1em 0.2em
}
.carbox {
    display: flex !important;
    justify-content: space-around !important;
}
.card {
    box-shadow: 0 40px 50px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-text{
    font-family: "cursive";
    font-style: italic;
    font-size: x-large;
    color: rgba(253, 191, 21, 0.836);
    text-shadow: rgb(83, 22, 22) 0.1em 0.1em 0.1em;
    /* color: rgb(141, 140, 140); */
}
/*FIN HOMEPAGE*/
/*******************************************/


/*******************************************/
/*DEBUT CGx*/
h1{
    font-family: "cursive";
    font-style: italic;
    text-shadow: rgb(167, 164, 164) 0.1em 0.1em 0.2em
}
body p{
    color: bisque;
    font-style: italic;
    font-size: 110%;
}
/*FIN CGx*/
/*******************************************/


/*******************************************/
/* Pages ADMIN */
.img-bestseller{
    width:1.5em;
    height:1.5em;
}
.thead--light{
    color: rgb(83, 22, 22);
    background-color:rgba(253, 191, 21, 0.836);
}
.thead--dark{
    background-color: rgb(83, 22, 22);
    color:rgba(253, 191, 21, 0.836);
}
.table--txtlight{
    color:rgba(253, 191, 21, 0.836);
    /* color:wheat; */
}
.table--txtdark{
    color:rgba(83, 22, 22);
    /* color:wheat; */
}
.btn-return{
    position: relative;
    top: -2.5em; left: 10em;
    z-index:2;
}
.bouton{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
table{
    text-align:center;
}
.btnUserReverse{
    background-color:rgba(253, 191, 21, 0.836);
    color: rgb(83, 22, 22);
}
.btnUserReverse:hover{
    background-color:rgb(83, 22, 22);
    color: rgba(253, 191, 21, 0.836);
    border:1px solid rgb(253, 191, 21, 0.836);
}
/* Pages ADMIN */
/*******************************************/





/* SSI on parvient à faire du multi-langues */
/* #DivLang{
    justify-self:end;
    align-items:center;
    padding-right:20px;
}
.DivLang{
    width:80px;
    height:30px;
    margin:0.35em;
    border:1px solid black;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
}
.DivLang:hover{
    cursor:pointer;
}
.DivLang>p{
    font-size: 0.65x;
    margin-top: 14px;
    color:black;
}
.DivImgFlag{
    height:25px;
    width:25px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.DivLangFr{
    box-shadow:inset 2px 2px 6px black;
    font-size:1.1em;
    font-weight:bolder;
}
.DivLangEn{
    box-shadow:2px 2px 6px black;
}
.ImgFlagEn{
    //FONCTIONNE A PARTIR D'ASSETS SEULEMENT 
    background-image: url(/assets/images/flag_en.png);
}
.ImgFlagFr{
    //FONCTIONNE A PARTIR D'ASSETS SEULEMENT 
    background-image: url(/assets/images/flag_fr.png);
}
 */
