{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
<div class="container pt-5" id="BigBody">
    <h1>Créer un nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <a class="btn btn-sm btn-secondary btn-return" href="{{ path('article_index') }}">Retour à la liste</a>

</div>
{% endblock %}
